.button {
    cursor: pointer;
}

.subscribe-button {
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 16px;
    margin-right: 12px;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    opacity: 0.7;
}

.subscribe-button:active {
    opacity: 0.4;
}

.join-button {
    background-color: white;
    color: rgb(6, 95, 212);
    border: 1px solid  rgb(6, 95, 212);
    border-radius: 2px;
    padding: 9px 15px;
    margin-right: 12px;
    transition: background-color 0.15s,
    color 0.15s,
    opacity 0.15s;
}

.join-button:hover {
    background-color: rgb(6, 95, 212);
    color: white;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: bold;
    /* vertical-align: top; */
    transition: opacity 0.3s,
    box-shadow 0.3s;
}

.tweet-button:hover {
    opacity: 0.7;
    box-shadow: 0px 2px 8px rgb(29, 155, 240);
}

.tweet-button:active {
    opacity: 1;
    transition: opacity 0.1s;
}

.div-one {
    height: 60px;
    width: 258px;
    border: 1px solid;
    margin-top: 12px;
}

.back-button {
    padding: 10px;
    margin: 10px;
   
}

.next-button {
    padding: 10px;
    margin: 10px;
  
}

.search-result {
    margin: 5px;
}