* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 50px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    width: 100px;
}

.nested-left {
    color: white;
    background-color: black;
}

.right {
    background-color: green;
    width: 200px;
}